body {
  overflow: hidden;
  margin: 0;
}

#main {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #ebebeb;
}

#editor {
  position: absolute;
  top: 42px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  overflow: auto;
  right: 10px;
  font-size: 12px;
}

#editor.uninitialized {
  display: none;
}

#sidebar {
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 249px;
  border-right: 1px solid #888;
}

#status {
  height: 5px;
  background-color: #ebebeb;
  text-align: center;
  white-space: nowrap;
  border-bottom: 1px solid #888;
}

#tree {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  top: 6px;
  bottom: 0;
  left: 0;
  width: 249px;
}

#proc-result pre {
  border: none;
  background: none;
}

.uk-notify {
  width: 500px;
}

.uk-notify-top-center {
  margin-left: -250px;
}

.tool-group button {
  margin-right: 10px;
}

#term .uk-modal-dialog {
  width: calc(100% - 40px);
  height: calc(100% - 80px);
}

#terminal-container {
  height: calc(100% - 65px);
}

.hide {
  display: none;
}

#read-only {
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  bottom: 0;
}

#read-only img {
  max-width: 98%;
  max-height: 98%;
}
